$bg_color: rgb(255, 255, 255);

$font-color: #333;
$font-color-light: #616161;

$base-color: #1976d2;
$base-color-dark: #125699;

$link-color: #1976d2;

$field: (
  "bg": #fff,
  "border": #BDBDBD,
  "border-dark": #616161,
  "border-focus": #1976d2,
  "font-color": #212121,
  "cart-bg": #EEEEEE
)
